page {
  height: 100%;
  overflow: hidden;
}
.viewport {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search {
    padding: 20rpx 30rpx;
    background-color: #fff;
    .input {
      color: #8b8b8b;
      background-color: #f3f4f4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 26rpx;
      height: 64rpx;
      font-size: 28rpx;
      border-radius: 32rpx;
    }
  }
  .categories {
    flex: 1;
    display: flex;
    min-height: 400rpx;
    // 一级菜单
    .primary {
      overflow: hidden;
      width: 180rpx;
      background-color: #f6f6f6;
      flex: none;

      .item {
        height: 96rpx;
        font-size: 26rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #595c63;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 20rpx;
        }

        &.active {
          background-color: #fff;

          &::before {
            content: "";
            position: absolute;
            width: 8rpx;
            height: 100%;
            background-color: 27ba9b;
            left: 0;
            top: 0;
          }
        }
      }
    }
    // 二级分类
    .secondary {
      background-color: #fff;
      .panel {
        margin: 0 30rpx 20rpx;
      }
      .title {
        height: 60rpx;
        line-height: 60rpx;
        color: #333;
        font-size: 28rpx;
        border-bottom: 1rpx solid #f7f7f8;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .more {
        float: right;
        padding-left: 20rpx;
        font-size: 24rpx;
        color: #999;
        &::after {
          &::after {
            font-family: "erabbit" !important;
            content: "\e6c2";
          }
        }
      }
    }
    .section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 20rpx 0;
      .goods {
        width: 150rpx;
        margin: 0 20rpx 20rpx 0;
        &:nth-child(3) {
          margin-right: 0;
        }
        .goodsName{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            /*! autoprefixer: off */
            -webkit-box-orient: vertical;
        }
        .image {
          width: 150rpx;
          height: 150rpx;
        }
        .name {
          padding: 5rpx;
          font-size: 22rpx;
          color: #333;
        }
      }
    }
  }
}
